<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="js/vendors.chunk.min.js"></script>
    <script src="js/bundle.js" id="webpack-loader"></script>
</head>
<body>

</body>
</html>